<div>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri;">Phone:</span><span style="font-family: Calibri;">&nbsp; </span><span style="font-family: Calibri;">+234 8038730550</span></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri;">Email:</span><span style="font-family: Calibri;">&nbsp;&nbsp;&nbsp; </span><span style="font-family: Calibri;">customercare@wizconnect.net</span></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri;">&nbsp;</span></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri;">&nbsp;</span></p>
</div>